*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width: 100%;
    min-height: 100vh;
    background-color: #010139;
}
.title{
    text-align: center;
    color: aqua;
    padding: 30px 0;
    font-size: 50px;
    font-weight: 300;
}
.title span{
    color: gold;
}

.main_table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;   
}
.thead_row{
    text-align: left;
    color: aqua;
}
.thead_row th{
    padding: 18px 12px;     
}
.tbody_row{
    color: #ddd;
    background-color: #313c4e;
}
.tbody_row:nth-child(even){
    background-color: #2d3447;
}
.tbody_row td{
    padding: 12px;  
    border: 1px solid aqua;
}
.tbody_row td:first-child{
    color: crimson;
}